# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Supabase database.
POSTGRES_URL='postgres://postgres.[USERNAME]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres'

# Clerk API keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

# Project Info
NEXT_PUBLIC_PROJECT_HOME_URL='http://localhost:3000'
NEXT_PUBLIC_PROJECT_NAME='Example app'

# Payment Providers
# NOWPayments
NOWPAYMENTS_API_KEY=""
NOWPAYMENTS_IPN_SECRET=""
NOWPAYMENTS_SANDBOX="false"
NOWPAYMENTS_API_URL="https://api.nowpayments.io/v1"
NOWPAYMENTS_SANDBOX_API_URL="https://api-sandbox.nowpayments.io/v1"

